* {
    margin: 0;
    padding: 0;
}

.home {
    font-family: Calibri;
    padding: 0px 50px;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/images/img.jpg');
    background-size: cover;
    height: 1000px;
}

.title {
    display: flex;
    font-size: 200%;
    font-style: italic;
    color: white;
    border: 2px solid transparent;
    flex-direction: column;
    align-items: center;
    height: 40%;
    justify-content: center;
}

.hello {
    margin: 0;
}

.intro {
    margin: 0;
}

.basic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}

.image {
    margin-left: 8%;
    border: 2px solid transparent;
}

.image h3 {
    display: flex;
    color: white;
    border: 1px solid transparent;
    width: 290;
    justify-content: center;
    font-style: italic;
}

.image img {
    border: 2px solid grey;
    border-radius: 50px;
    alt: 'profile_image';
    width: 290;
    height: 300;
}

.logos {
    display: flex;
    width: 500px;
    height: 40px;
    border: 2px solid transparent;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.logos svg {
    width: 40px;
    height: 40px;
    fill: #fff;
    transition: 0.5s ease;
}

.logos svg:hover {
    background-color: white;
    fill: black;
}

.know_more {
    font-style: normal;
    display: flex;
    color: white;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 8%;
    margin-top: 0%;
    border: 1px solid transparent;
    width: 290;
}

.know_more h2 {
    font-family: 'Times New Roman';
}

.know_more h3 {
    margin: 8%;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 10px;
    transition: 0.8s ease;
}

.know_more h3 a {
    text-decoration: none;
    color: inherit;
}

.know_more h3:hover {
    background-color: white;
    color: rgb(8, 6, 12);
}

.active {
    background-color: rgb(202, 200, 200);
    color: rgba(8, 6, 12, 0.89);
}

.about_me {
    padding-top: 50px;
    background-color: black;
    padding: 50px 0px;
    height: 1000px;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header h3 {
    border: 2px solid white;
    padding: 10px 10px;
    border-color: white;
    color: black;
}

.header h3 a {
    text-decoration: none;
    color: white;
}

.header h3:hover {
    background-color: white;
    color: inherit;
}

.content {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
    align-items: center;
    height: 900px;
    justify-content: center;
}

.content h3 {
    margin-top: 50px;
}

.resume {
    background-color: black;
}

.resume_img {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.resume_img img {
    width: 45%;
    height: 100%;
}

.download a {
    margin-top: 200px;
    margin-left: 600px;
    margin-right: 600px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 5px 5px;
    transition: 0.5s ease;
}

.download a:hover {
    background-color: white;
    color: rgb(8, 6, 12);
}